/******** END CSS RESET *********/

body {
  background-color: #f8f8f8;
}

#map {
  height: 100vh;
}

.hamburger-btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 800;
}

.location_form {
  /* display: flex;
  flex-direction: column; */
}

#id_location_div_map {
  display: contents;
}
