{% load static %} {% load project_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only (Bootstrap) -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <!--Leaflet's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>GeoDimagi</title>
  </head>
  <body>
    <div id="map"></div>
    <a
      class="hamburger-btn"
      {%
      comment
      %}
      type="button"
      {%
      endcomment
      %}
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling"
    >
      <img src="{% static 'images/hamburger-menu.png' %}" alt="" />
    </a>
    <div
      class="offcanvas offcanvas-start"
      data-bs-scroll="true"
      data-bs-backdrop="false"
      tabindex="-1"
      id="offcanvasScrolling"
      aria-labelledby="offcanvasScrollingLabel"
    >
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasScrollingLabel">
          Project Filtering
        </h3>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <h2>Divisions:</h2>
        <form action="" class="division-form">
          <div class="form-check">
            <input
              name="divisioncheckboxes"
              class="form-check-input"
              type="checkbox"
              value="SaaS"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              SaaS
            </label>
          </div>
          <div class="form-check">
            <input
              name="divisioncheckboxes"
              class="form-check-input"
              type="checkbox"
              value="Solutions"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Solutions
            </label>
          </div>
          <div class="form-check">
            <input
              name="divisioncheckboxes"
              class="form-check-input"
              type="checkbox"
              value="India"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              India
            </label>
          </div>
          <div class="form-check">
            <input
              name="divisioncheckboxes"
              class="form-check-input"
              type="checkbox"
              value="US Health"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              US Health
            </label>
          </div>
          <div class="form-check">
            <input
              name="divisioncheckboxes"
              class="form-check-input"
              type="checkbox"
              value="GSO"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked"> GSO </label>
          </div>
        </form>

        <a href="{% url 'new_project' %}"
          ><button class="btn btn-primary">Add A New Project</button></a
        >
      </div>
    </div>

    <!--Leaflet's Javascript -->
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <!-- JavaScript Bundle with Popper (Bootstrap) -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    {% comment %}
    <script src="{% static 'js/index.js' %}">
      const default_coords = '{{ dimagi_cambridge_office_coords |escapejs}}';
    </script>
    {% endcomment %}
    <script>
          const DIMAGI_CAMBRIDGE_OFFICE_COORDS = JSON.parse(
            '{{ dimagi_cambridge_office_coords |escapejs }}'
          );
          {% comment %} let projects = JSON.parse('{{ projects | safe }}')
          console.log(projects) {% endcomment %}
          {% comment %} console.log({) {% endcomment %}
          const DEFAULT_ZOOM = 13;

        /*const houseIcon = L.icon({
            iconUrl: "{% static 'icons/house.svg' %}",
            iconSize:     [40 40], // size of the icon
            shadowSize:   [0, 0], // size of the shadow
            iconAnchor:   [20, 20], // point of the icon which will correspond to marker's location
            shadowAnchor: [0, 0],  // the same for the shadow
            popupAnchor:  [20, 20] // point from which the popup should open relative to the iconAnchor
        });*/
        const houseIcon = L.icon({
          iconUrl: "{% static 'icons/house.svg' %}",
          iconSize: [40, 40],
          iconAnchor: [20, 20],
          popupAnchor: [0, 0],
      });



          const map = L.map('map').setView(
              [
                DIMAGI_CAMBRIDGE_OFFICE_COORDS.lat,
                DIMAGI_CAMBRIDGE_OFFICE_COORDS.long,
              ],
              DEFAULT_ZOOM
            );
            const markers = L.featureGroup()


          const loadPage = async() => {
            //Load the map


            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution:
                '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            }).addTo(map);

            //Load the default markers
            //This is done asyncally, which might be a problem if the user uses the filters too quick

            {% for project in projects %}
             {% for location in project.location.all  %}
                if ('{{ project.tag }}' == 'office') {
                  markers.addLayer(L.marker([{{ location.location.y }}, {{ location.location.x }}], {icon: houseIcon}).bindPopup('{{ location.name }}'))

                } else {
                  markers.addLayer(L.marker([{{ location.location.y }}, {{ location.location.x }}]).bindPopup('Project Name:{{ project.name }}<br> Client:{{ project.client }}<br>Division:{{ project.team_division }}<br>Location: {{ location.city}}, {{ location.country }} <br> Active Dates: {{ project.start_date}} - {{ project.end_date}}'))

                }

              {% endfor %}

              {% if forloop.last %}
                markers.addTo(map)
              {% endif %}

            {% endfor %}

          };




          const handleDivisionChange = async(e) => {
            const checked_inputs = document.querySelectorAll('input[name=divisioncheckboxes]:checked')
            let res = []
            res = Array.from(checked_inputs).map(c => c.value);
            markers.remove()
            markers.clearLayers()


              {% for project in projects %}
                {% for location in project.location.all  %}
                if ('{{ project.tag }}' == 'office') {
                  markers.addLayer(L.marker([{{ location.location.y }}, {{ location.location.x }}], {icon: houseIcon}).bindPopup('{{ location.name }}'))

                } else if (res.includes('{{ project.team_division }}') && '{{ project.tag }}' !== 'office')  {
                  markers.addLayer(L.marker([{{ location.location.y }}, {{ location.location.x }}]).bindPopup('Project Name:{{ project.name }}<br> Client:{{ project.client }}<br>Division:{{ project.team_division }}<br> Active Dates: {{ project.start_date}} - {{ project.end_date}}'))
                }
                {% endfor %}
                {% if forloop.last %}
                markers.addTo(map)
              {% endif %}

              {% endfor %}


          }


          const division_form = document.querySelector('.division-form')
          division_form.addEventListener('change', e => handleDivisionChange(e) )




          loadPage();
    </script>
  </body>
</html>
