{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Leaflet's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>GeoDimagi</title>
  </head>
  <body>
    <div id="map"></div>

    <!--Leaflet's Javascript -->
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>

    {% comment %}
    <script src="{% static 'js/index.js' %}">
      const default_coords = '{{ dimagi_cambridge_office_coords |escapejs}}';
    </script>
    {% endcomment %}
    <script>
      const DIMAGI_CAMBRIDGE_OFFICE_COORDS = JSON.parse(
        '{{ dimagi_cambridge_office_coords |escapejs }}'
      );

      const DEFAULT_ZOOM = 13;


      const loadPage = () => {
        //Load the map
        const map = L.map('map').setView(
          [
            DIMAGI_CAMBRIDGE_OFFICE_COORDS.lat,
            DIMAGI_CAMBRIDGE_OFFICE_COORDS.long,
          ],
          DEFAULT_ZOOM
        );

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);

        //Load the default markers


        {% for project in projects %}
         {% for location in project.location.all  %}
          L.marker([{{ location.location.x }}, {{ location.location.y }}]).addTo(map).bindPopup('{{ project.name }}')

          {% endfor %}
        {% endfor %}

      };

      loadPage();
    </script>
  </body>
</html>
